<header>
  <div class="container-hearts">
    <div class="col">
      <div class="heart heart1">
        <div class="circle"></div>
        <div class="halfMoon"></div>
      </div>
    </div>
    <div class="col">
      <div class="heart heart2">
        <div class="circle"></div>
        <div class="halfMoon"></div>
      </div>
    </div>
    <div class="col">
      <div class="heart heart3">
        <div class="circle"></div>
        <div class="halfMoon"></div>
      </div>
    </div>
    <div class="col">
      <div class="heart heart4">
        <div class="circle"></div>
        <div class="halfMoon"></div>
      </div>
    </div>
    <div class="col">
      <div class="heart heart5">
        <div class="circle"></div>
        <div class="halfMoon"></div>
      </div>
    </div>
  </div>
  <video #bgVideo class="bg-video" autoplay muted loop playsinline preload="auto">
    <source src="assets/video/valentines-day.mp4" type="video/mp4" />
  </video>
  <router-outlet></router-outlet>
</header>
